body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .contact-container {
    max-width: 50%;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #007BFF;
  }
  
  .contact-container h2 {
    text-align: center;
    margin-bottom: 50px;
    color: white;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  
  .form-group {
    width: 100%;
    max-width: 90%;
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #007BFF;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    background-color: white;
    color: black;
    box-sizing: border-box;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #007BFF;
    outline: none;
  }

  .form-group textarea {
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    font-weight: normal; 
    color: black; 
  }
  
  .submit-button {
    padding: 10px 15px;
    background-color:  #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
  }
  
  .submit-button:hover {
    background-color: #646cff;
    color: white;
    font-weight: bold;
  }
  
  .submit-button:active {
    transform: scale(0.98);
  }
  
  .success-message {
    margin-top: 2rem;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}