/* Styling för header */
/* header {
    width: 100%;
    background-color: #34495e;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
} */

/* Styling för nav och lista */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

nav ul li {
    margin: 0 15px;
}